.tz {
    padding: 0 100px;
    transform: translateY(-50%)
}

.category {
    padding: 8px 10px;
    border: 1px solid #afafaf;
    color: #afafaf;
    display: flex;
    border-radius: 40px;
}
.b-border {
    border: 1px solid rgb(208, 208, 208);
}