<div>
    <div class="d-inline-flex">
        <div class="d-flex me-3">
            <h1>{{ actor?.primaryName }}</h1>
        </div>
        <div class="my-2 align-items-center">
            <div class="d-flex">
                <span class="btn btn-light btn-border" *ngFor="let p of actor?.primaryProfession">{{ p }}</span>
            </div>
        </div>

    </div>

    <hr>
    <div class="row">
        <p>{{ actor?.birthYear }} - {{ actor?.deathYear }}</p>
    </div>



    <div class="row mb-3">
        <div class="py-3">
            <ul>
                <h3>
                    Productions : {{actor?.movies.length}}
                </h3>
                <app-movies [movies]="actor?.movies"></app-movies>
            </ul>
        </div>

    </div>
</div>