<div class="d-flex">
    <div class="col">
        <h2 class="p-0 m-0">Home</h2>
    </div>
    <div class="col d-flex justify-content-end">
        <input type="text" class="form-control mx-2" [formControl]="searchWord$" placeholder="search">
        <select class="form-select w-50">
            <option selected>Genres</option>
            <option *ngFor="let g of genres$ | async " [ngValue]="g">{{g}}</option>
        </select>


        <div class="h-100 ms-2" *ngIf="movies$ | async as result">
            <ul class="pagination">
                <li class="page-item"><button class="page-link" (click)="goToPrviousPage(result.next)">Previous</button>
                </li>
                <li class="page-item"><button class="page-link" (click)="goToNextPage(result.next)">Next</button></li>
            </ul>
        </div>


    </div>
</div>
<app-movies *ngIf="movies$ | async as result" [movies]="result.results"></app-movies>