.thumbnail {
    display: flex;
    height: 250px;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.thumbnail a {
    display: block;
    width: 100%;

}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail a img {
    width: 100%;
}